@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

.header {
  max-width: 80%;
  margin: 0 auto;
  padding: 1em 1em;
  font-size: 1.5em;
}

.header a{
  color: darkcyan;
  display: inline-block;
  padding-top: 1em;
  text-decoration: none;
}

main {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 4em;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: hsl(0, 0%, 88%);
}

